<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @move.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @move.game_id %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @move.piece_id %>
</p>

<p>
  <strong>Squares:</strong>
  <%= @move.squares %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
